﻿@model Clientes.Models.SITUACION

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SITUACIÓN ACTUAL DEL CLIENTE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.TextBoxFor(model => model.ID)*@

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CANTIDAD_LINEAS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CANTIDAD_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CANTIDAD_LINEAS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FACT_MENSUAL, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FACT_MENSUAL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FACT_MENSUAL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><h5>Fecha de renovación de las líneas</h5></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>COMPAÑIA</th>
                            <th>TELCEL</th>
                            <th>AT&T</th>
                            <th>MOVISTAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No. de líneas</td>
                            <td>
                                @Html.EditorFor(model => model.TELCEL_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TELCEL_LINEAS, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ATT_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ATT_LINEAS, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MOVISTAR_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MOVISTAR_LINEAS, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>Fecha de renovación</td>
                            <td>
                                @Html.EditorFor(model => model.TELCEL_FECHA, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                @Html.ValidationMessageFor(model => model.TELCEL_FECHA, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ATT_FECHA, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                @Html.ValidationMessageFor(model => model.ATT_FECHA, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MOVISTAR_FECHA, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                @Html.ValidationMessageFor(model => model.MOVISTAR_FECHA, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>Datos</td>
                            <td>
                                @Html.EditorFor(model => model.DATOS_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATOS_TELCEL, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DATOS_MOVISTAR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATOS_MOVISTAR, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DATOS_ATT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATOS_ATT, "", new { @class = "text-danger" })
                            </td>
                        </tr>



                        <tr>
                            <td>Minutos</td>
                            <td>
                                @Html.EditorFor(model => model.MINUTOS_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MINUTOS_TELCEL, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MINUTOS_MOVISTAR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MINUTOS_MOVISTAR, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MINUTOS_ATT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MINUTOS_ATT, "", new { @class = "text-danger" })
                            </td>
                        </tr>


                        <tr>
                            <td>Pago mensual</td>
                            <td>
                                @Html.EditorFor(model => model.PAGO_MENSUAL_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAGO_MENSUAL_TELCEL, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.PAGO_MENSUAL_MOVISTAR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAGO_MENSUAL_MOVISTAR, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.PAGO_MENSUAL_ATT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAGO_MENSUAL_ATT, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.TELCEL_LINEAS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TELCEL_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TELCEL_LINEAS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TELCEL_FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TELCEL_FECHA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TELCEL_FECHA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ATT_LINEAS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ATT_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ATT_LINEAS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ATT_FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ATT_FECHA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ATT_FECHA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MOVISTAR_LINEAS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MOVISTAR_LINEAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOVISTAR_LINEAS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MOVISTAR_FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MOVISTAR_FECHA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOVISTAR_FECHA, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="row">
            <div class="col-md-12">
                <h5>Servicios Especiales</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrición del servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Datos puros</td>
                            <td>
                                @Html.EditorFor(model => model.DATOS_PUROS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATOS_PUROS, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>Tabletas</td>
                            <td>
                                @Html.EditorFor(model => model.TABLETAS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TABLETAS, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>Bandas anchas</td>
                            <td>
                                @Html.EditorFor(model => model.BANDAS_ANCHAS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BANDAS_ANCHAS, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>Localización</td>
                            <td>
                                @Html.EditorFor(model => model.LOCALIZACION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LOCALIZACION, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>Otros</td>
                            <td>
                                @Html.EditorFor(model => model.OTROS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OTROS, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.DATOS_PUROS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DATOS_PUROS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DATOS_PUROS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TABLETAS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TABLETAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TABLETAS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BANDAS_ANCHAS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BANDAS_ANCHAS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BANDAS_ANCHAS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LOCALIZACION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LOCALIZACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LOCALIZACION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OTROS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OTROS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OTROS, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="row">
            <div class="col-md-12">
                <h5>PROBLEMÁTICA ACTUAL DEL CLIENTE</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PROBLEMA, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PROBLEMA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PROBLEMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CUANTO_TELEFONOS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CUANTO_TELEFONOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CUANTO_TELEFONOS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CUANTO_SERVICIOS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CUANTO_SERVICIOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CUANTO_SERVICIOS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.IMPLICACION, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.IMPLICACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IMPLICACION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.SOLUCION, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SOLUCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SOLUCION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.IDCONOCIMIENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IDCONOCIMIENTO, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" name="IDCONOCIMIENTO" id="IDCONOCIMIENTO" value="@ViewBag.id" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.IDCONOCIMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <!--<input type="submit" value="Guardar" class="btn btn-success" />-->
                    <button class="btn btn-block btn-lg btn-success" type="submit">Guardar <i class="glyphicon glyphicon-floppy-disk"></i></button>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Regresar", "../Cliente/Detalles", new { id = Model.IDCONOCIMIENTO })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $('.datepicker').datepicker({
        //lang: 'es'
        format: 'yyyy-mm-dd'
    });
    </script>
}
