﻿@model IEnumerable<Clientes.Models.SITUACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD_LINEAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACT_MENSUAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELCEL_LINEAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELCEL_FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATT_LINEAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATT_FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOVISTAR_LINEAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOVISTAR_FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATOS_PUROS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TABLETAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANDAS_ANCHAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCALIZACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTROS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROBLEMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMPLICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUANTO_TELEFONOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUANTO_SERVICIOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCONOCIMIENTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_LINEAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACT_MENSUAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELCEL_LINEAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELCEL_FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATT_LINEAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATT_FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOVISTAR_LINEAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOVISTAR_FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATOS_PUROS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TABLETAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANDAS_ANCHAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCALIZACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTROS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROBLEMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMPLICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUANTO_TELEFONOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUANTO_SERVICIOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCONOCIMIENTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCONOCIMIENTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCONOCIMIENTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCONOCIMIENTO })
        </td>
    </tr>
}

</table>
