﻿<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<style>
    .INCUMPLIDO{
        border: 2px solid red !important;
        color: #000000;
        font-weight: bold;
    }
</style>

<h2>Actividades</h2>
<input type="hidden" name="idcon" id="idcon" value="@ViewBag.vend" />
<div class="row">
    <div class="col-md-4">
       
    </div>
    @if (Convert.ToInt32(Session["perfil"]) != 1)
    {
        <div class="col-md-4" >
            <input type="hidden" id="EJECUTIVO_SELECTOR" value="@ViewBag.vend">
			
        </div>
    }
    else
    {
        <div class="col-md-4">
            Ejecutivo @Html.DropDownList("EJECUTIVO", ViewData["ejecutivos"] as SelectList, "--TODOS", new { id = "EJECUTIVO_SELECTOR", @style = "margin-top:40px;" })
        </div>
    }



</div>
<div id="actividades">
    <div id="calendar"></div>
</div>
<div id="modal-contacto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contacto</h4>
            </div>
            <div class="modal-body" id="modal-contacto-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/fullcalendar/locale-all.js"></script>
    <script src="~/Scripts/datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
			
		
            function successFun(data, status) {
                $('#modal-contacto-body').html(data);
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    language: 'es'
                });
                $('#modal-contacto').modal('show');
            }



            $('.fc-time').attr('hidden', 'hidden');
            var id = $('#idcon').val();
            $('#calendar').fullCalendar({
                weekends: false,
                height: 530,
                locale: 'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listWeek,month,agendaWeek,agendaDay'
                    //right: 'listWeek,month'
                },
                defaultView: 'listWeek',
                editable: true,
                eventLimit: true,
                navLinks: true,
                eventColor: '#7f181b',
                eventBackgroundColor: '#0000',
                events: '/Empresariales/Clientes/Actividades/Eventos/',
                loading: function (bool) {
                    if (bool) {
                        console.log('cargando eventos');
                    } else {
                    }

                },
                eventAfterAllRender: function (view) {
                    console.log('eventos cargados');
                },
                eventRender: function eventRender(event, element, view) {
                    if ($('#EJECUTIVO_SELECTOR').val() == '') {
                        for (var i = 0; i <= $('#EJECUTIVO_SELECTOR').val().lenght; i++) {
                            //console.log($('#EJECUTIVO_SELECTOR')[i].val());
                            return ['all', event.ejecutivo].indexOf($('#EJECUTIVO_SELECTOR')[i].val())
                        }
                    } else {
                        return ['all', event.ejecutivo].indexOf($('#EJECUTIVO_SELECTOR').val()) >= 0
                    }

                },
                eventClick: function (event, element) {
                    //alert(event.id);
                    var serviceUrl = '/Empresariales/Clientes/Contactos/EditProximo/' + event.id + '?estado=' + event.estatus;
                    if (event.allDay) {
                        serviceUrl = '/Empresariales/Clientes/Contactos/EditCompromiso/' + event.id + '?estado=' + event.estatus;
                    }
                    $.ajax({
                        type: "GET",
                        url: serviceUrl,
                        data: $(this).serialize(),
                        success: successFun
                    })
                }
            })


            $('#EJECUTIVO_SELECTOR').on('change', function () {
                $('#calendar').fullCalendar('rerenderEvents');
            })

        });
    </script>
}
