﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				@if (Convert.ToInt32(Session["perfil"]) == 1)
                {
					@Html.ActionLink("CONOCIMIENTO DE CLIENTES EMPRESARIALES", "Inicio", "Cliente", new { area = "" }, new { @class = "navbar-brand" })
				}
				else if (Convert.ToInt32(Session["perfil"]) == 2)
                {
                    <a class="navbar-brand" href="/Empresariales/Clientes/Cliente/EJECUTIVO?usuario=@Session["idusuario"]">CONOCIMIENTO DE CLIENTES EMPRESARIALES</a>
                }

                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Convert.ToInt32(Session["perfil"]) == 1)
                    {
                        <li><a href="/Empresariales/Clientes/Cliente/Inicio"><i class="glyphicon glyphicon-home"></i>  Inicio</a></li>
                    }
                    else if (Convert.ToInt32(Session["perfil"]) == 2)
                    {
                        <li><a href="/Empresariales/Clientes/Cliente/EJECUTIVO?usuario=@Session["idusuario"]"><i class="glyphicon glyphicon-home"></i>  Inicio</a></li>
                    }

                    <!--<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                    @*<li>
                        <a href="/Empresariales/Clientes/Admin/EditarUsuario/@Session["idusuario"]">  Usuario</a>
                    </li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
