﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*<li style="color: #fff;">Bienvenido!!!  <i class="glyphicon glyphicon-user"></i> @Session["nombre"]</li>
        <li>@Html.ActionLink(" Salir", "Salir", "Cliente", routeValues: null, htmlAttributes: new { id = "", @class = "glyphicon glyphicon-log-out" })</li>*@
        @if (Convert.ToInt32(Session["perfil"]) == 1 || Convert.ToInt32(Session["perfil"]) == 2)
        {
            <li style="color: #fff;"><a href="/Empresariales/Clientes/Admin/EditarUsuario/@Session["idusuario"]"> @Session["nombre"] <i class="glyphicon glyphicon-user"></i></a></li>
            @*<li style="color: #fff;">Bienvenido!!!  <i class="glyphicon glyphicon-user"></i> @Session["nombre"]</li>*@
            <li>@Html.ActionLink(" Salir", "Salir", "Cliente", routeValues: null, htmlAttributes: new { id = "", @class = "glyphicon glyphicon-log-out" })</li> }
    </ul>
}
