﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.form-inline div{
    margin-bottom: 20px;
}

.PROSPECTO{
    background: #f2dede;
}

fieldset{
	/*border: 1px solid #eea236;*/
	padding: 0 10px 10px 10px;
	border-radius: 5px;
	margin-bottom: 25px;
}
legend {
	font-size: 1.3em;
	border: medium solid #60A4C1;
	width: auto;
	padding: 5px;
}

.row{
	margin-bottom: 10px;
}


.fc-widget-content{
    cursor: pointer !important;
}
