﻿@model Clientes.Models.CONOCIMIENTO

<style>
    /* USER PROFILE PAGE */
    .card {
        margin-top: 20px;
        padding: 30px;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: #fff;
            background-color: rgba(255, 255, 255, 1);
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
    }

        .card.hovercard .useravatar img {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.5);
        }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }
</style>
@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>




<div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://activacionest.fonix.com.mx/Empresariales/Clientes/imgs/clts.jpg">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://activacionest.fonix.com.mx/Empresariales/Clientes/imgs/cliente.jpg">
        </div>
        <div class="card-info">
            <span class="card-title">@Model.RAZON_SOCIAL</span>
        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg row" role="group" aria-label="...">
        <div class="col-md-3">
            <a class="btn btn-primary" href="#tab1" data-toggle="tab">
                Generales <i class="glyphicon glyphicon-list-alt"></i>
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-default" href="#pvs" data-toggle="tab">
                Pvs <i class="glyphicon glyphicon-road"></i>
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success" href="#tab2" data-toggle="tab">
                Direccion <i class="glyphicon glyphicon-globe"></i>
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-danger" href="#tab3" data-toggle="tab">
                Otros <i class="glyphicon glyphicon-stats"></i>
            </a>
        </div>





    </div>
    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="row">
                    <div class="col-md-6">
                        <label>Fecha de actualización</label>
                        @Html.DisplayTextFor(model => model.FECHA_ACTUALIZA)
                    </div>

                    <div class="col-md-6">
                        <label>Folio verificación</label>
                        @Html.DisplayTextFor(model => model.FOLIO_VERIFICACION)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Nombre comercial</label>
                        @Html.DisplayTextFor(model => model.NOMBRE_COMERCIAL)
                    </div>

                    <div class="col-md-6">
                        <label>RFC</label>
                        @Html.DisplayTextFor(model => model.RFC)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Giro</label>
                        @Html.DisplayTextFor(model => model.GIRO)
                    </div>

                    <div class="col-md-4">
                        @Html.DisplayTextFor(model => model.ANIOS_MERCADO) <label>años en el mercado</label>
                    </div>

                    <div class="col-md-3">
                        <label>Ejecutivo</label>
                        @Html.DisplayTextFor(model => model.Vendedor)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Actividad de la empresa</label>
                        @Html.DisplayTextFor(model => model.DESC_ACTIVIDAD)
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="tab2">
                <p>
                    <label>Fiscal: </label> @ViewData["fiscal"]
                </p>
                <p>
                    <label>Entrega: </label> @ViewData["entrega"]
                </p>
            </div>
            <div class="tab-pane fade in" id="tab3">
                <div class="row">
                    <div class="col-md-3">
                        <label>Clave NISI</label>
                        @Html.DisplayTextFor(model => model.CLAVE_NISI)
                    </div>

                    <div class="col-md-3">
                        <label>Clave Portal</label>
                        @Html.DisplayTextFor(model => model.CLAVE_PORTAL)
                    </div>

                    <div class="col-md-3">
                        <label>Usuario Portal</label>
                        @Html.DisplayTextFor(model => model.USUARIO_PORTAL)
                    </div>


                    <div class="col-md-3">
                        <label>Alias Portal</label>
                        @Html.DisplayTextFor(model => model.ALIAS_PORTAL)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label>Clave Interbancaria</label>
                        @Html.DisplayTextFor(model => model.CLAVE_INTERBANCARIA)
                    </div>

                    <div class="col-md-5">
                        <label>Referencia RAP</label>
                        @Html.DisplayTextFor(model => model.REFERENCIA_RAP)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Esporadico</label>
                        @Html.DisplayTextFor(model => model.ESPORADICO)
                    </div>

                    <div class="col-md-4">
                        <label>Mercado</label>
                        @Html.DisplayTextFor(model => model.MERCADO)
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="pvs">
                <ul>
                    @foreach (var item in Model.CONOCIMIENTO_PV)
                    {
                        <li>@item.TIPO - @item.DIRECCION</li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
