﻿@model Clientes.Models.CONOCIMIENTO

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CONOCIMIENTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_ACTUALIZA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_ACTUALIZA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FECHA_ACTUALIZA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIPO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RAZON_SOCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RAZON_SOCIAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_COMERCIAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ANIOS_MERCADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ANIOS_MERCADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ANIOS_MERCADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_ACTIVIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_ACTIVIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESC_ACTIVIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMPETENCIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMPETENCIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COMPETENCIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRINCIPALES_CLIENTES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRINCIPALES_CLIENTES, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRINCIPALES_CLIENTES, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PAGINA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAGINA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PAGINA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEL_EMPRESA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEL_EMPRESA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEL_EMPRESA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NO_EMPLEADOS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NO_EMPLEADOS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NO_EMPLEADOS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.REP_LEGAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.REP_LEGAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REP_LEGAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IFE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IFE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IFE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CONTACTO_ALIADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO_ALIADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONTACTO_ALIADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CARGO_ALIADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO_ALIADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CARGO_ALIADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CONTACTO_TECNICO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO_TECNICO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONTACTO_TECNICO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CARGO_TECNICO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO_TECNICO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CARGO_TECNICO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CONTACTO_PRINCIPAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO_PRINCIPAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONTACTO_PRINCIPAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CARGO_PRINCIPAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO_PRINCIPAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CARGO_PRINCIPAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CONTACTO_CXP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO_CXP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONTACTO_CXP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CARGO_CXP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO_CXP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CARGO_CXP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EJECUTIVO_FONIX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EJECUTIVO_FONIX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EJECUTIVO_FONIX, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CREATEDATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CREATEDATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CREATEDATE, "", new { @class = "text-danger" })
            </div>
        </div>*@


       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            @if (ViewBag.Situacion == "S")
            {
                @Html.ActionLink("Situación", "../Situacion/Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
            }
            else
            {
                @*@Html.ActionLink("Situación", "../Situacion/Create?id=", new { id = "" }, new { @class = "btn btn-info" })*@
                <a href="/Situacion/Create?id=@Model.ID" class="btn btn-danger">Situación</a>
            }
            <a href="/Lineas/Index?id=@Model.ID" class="btn btn-warning">Lineas</a>
            <a href="../Busqueda?id=@Model.EJECUTIVO_FONIX">Regresar</a>
        </div>
        
    </div>

    
}

<div class="sucursales">
    <div class="row">
        <div class="col-md-5">
            <label>Tipo</label>
            <input type="text" class="form-control" id="CabeceraTipo" />
        </div>
        <div class="col-md-5">
            <label>Dirección</label>
            <input type="text" class="form-control" id="CabeceraDireccion" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" value="agregar_producto" name="action" id="btn-agregar">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("Create", "CONOCIMIENTO_PV", null,
                                    new AjaxOptions
                                    {
                                        HttpMethod = "Post",
                                        UpdateTargetId = "ajaxtarget",
                                        LoadingElementId = "image_loading",
                                        InsertionMode = InsertionMode.Replace
                                    }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-error" })
   

        <ul id="facturador-detalle" class="list-group">
            @if (Model.CONOCIMIENTO_PV.Count > 0)
                {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-5">
                            <b>Tipo</b>
                        </div>
                        <div class="col-xs-2 text-center">
                            <b>Dirección</b>
                        </div>
                    </div>
                </li>
            }
            @foreach (var d in Model.CONOCIMIENTO_PV)
            {
                var i = Model.CONOCIMIENTO_PV.IndexOf(d);
                <li class="list-group-item lista">
                    <!-- Modelo -->
                    @Html.TextBox("CONOCIMIENTO_PV[" + i + "].TIPO", d.TIPO)
                    @Html.TextBox("CONOCIMIENTO_PV[" + i + "].DIRECCION", d.DIRECCION)
                    @Html.TextBox("CONOCIMIENTO_PV[" + i + "].CONOCIMIENTO_ID", d.CONOCIMIENTO_ID)
                    @*@Html.Hidden("CONOCIMIENTO_PV[" + i + "].Retirar", d.Retirar)*@
                    <div class="row">
                        <div class="col-xs-1 text-right">
                            <button class="btn btn-danger btn-xs btn-block btn-retirar" type="button" value="retirar_producto" name="action">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <div class="col-xs-5">
                            @d.TIPO
                        </div>
                        <div class="col-xs-2 text-center">
                            @d.DIRECCION
                        </div>
                    </div>
                </li>

            }
        </ul>
        <input type="submit" value="Actualizar" class="btn btn-success" />
}

 

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            LimpiarAgregarProducto();

            $(".btn-retirar").click(function () {
                if (confirm('¿Está seguro de retirar el item seleccionado?')) {
                    $(this).closest('.list-group-item').remove().find('.retirar').val("True");
                    //console.log($(this).parent());
                    return true;
                }

                return false;
            })


            $('#btn-agregar').click(function () {
                //alert("agregando");
                var longitud = $("#facturador-detalle li.lista").size();
                var longitudt = longitud - 1;
                alert(longitud);
                var direccion = $('#CabeceraDireccion').val();
                var tipo = $('#CabeceraTipo').val();

                
                $('#facturador-detalle').append("<li class='list-group-item lista'><input id='CONOCIMIENTO_PV_" + longitud + "_TIPO' name='CONOCIMIENTO_PV[" + longitud + "].TIPO' type='text' value='" + tipo + "'><input id='CONOCIMIENTO_PV_" + longitud + "_DIRECCION' name='CONOCIMIENTO_PV[" + longitud + "].DIRECCION' type='text' value='" + direccion + "'><input type='text' value='@Model.ID' id='CONOCIMIENTO_PV_" + longitud +"__CONOCIMIENTO_ID' name='CONOCIMIENTO_PV[" + longitud + "].CONOCIMIENTO_ID'></li>");
                
                   
                   
            })

        })

        function LimpiarAgregarProducto() {
            $("#Tipo").val("");
            $("#Direccion").val("");
        }
    </script>
}