﻿@model IEnumerable<Clientes.Models.CONOCIMIENTO>

@{
    ViewBag.Title = "Busqueda";
}
<h2></h2>
<div class="col-md-3">
	@Html.ActionLink("Nuevo Cliente", "Registrar", new { id = "" }, new { @class = "btn btn-raised btn-success" })
    <!--<a href="/Empresariales/Clientes/Contactos/Inicio/@Model.FirstOrDefault().EJECUTIVO_FONIX" class="btn btn-info">Seguimiento</a>-->
    <a href="/Empresariales/Clientes/Actividades/Index/@Model.FirstOrDefault().EJECUTIVO_FONIX" class="btn btn-info">Seguimiento</a>
</div>
<br><br>
@using GridMvc.Html

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_ACTUALIZA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_COMERCIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESC_ACTIVIDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EJECUTIVO_FONIX)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_ACTUALIZA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAZON_SOCIAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_COMERCIAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESC_ACTIVIDAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EJECUTIVO_FONIX)
                <td>
                    @Html.ActionLink(" ", "Detalles", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign" })
                </td>
            </tr>
        }

    </table>*@
@Html.Grid(Model).Named("ordersGrid").SetLanguage("es").Columns(columns =>
{
    //columns.Add(item => item.ID).SetWidth(110);
    columns.Add(item => item.FECHA_ACTUALIZA).Sortable(true).Filterable(true);
    //columns.Add(item => item.TIPO).Sortable(true).Filterable(true);
    columns.Add(item => item.RAZON_SOCIAL).Sortable(true).Filterable(true);
    columns.Add(item => item.NOMBRE_COMERCIAL).Sortable(true).Filterable(true);
    //columns.Add(item => item.RFC);
    //columns.Add(item => item.DESC_ACTIVIDAD);
    //columns.Add(item => item.EJECUTIVO_FONIX).Sortable(true).Filterable(true);
    //columns.Add(item => item.Vendedor).Sortable(true).Filterable(true);
    //columns.Add().Encoded(false).Sanitized(false).RenderValueAs(item => @Html.ActionLink(" ", "Detalles", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign" }));
    //columns.Add().Titled("Detalles").Sortable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.TIPO == "NUEVO" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i></a>" : "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i></a>");
    //columns.Add(item => item.Detail).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.Detail == "NUEVO" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i> CLTE. NUEVO</a>" : item.Detail == "Editar" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-success'><i class='glyphicon glyphicon-pencil'></i></a>" : "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i> PROSPECTO</a>");
    columns.Add(item => item.Detail).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.Detail == "Nuevo" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i>Nuevo</a>" : item.Detail == "Cliente" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-success'><i class='glyphicon glyphicon-pencil'></i>Cliente</a>" : "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i> Prospecto</a>");
}).WithPaging(20).WithMultipleFilters()


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('table').removeClass('table-striped');
			$('table').addClass('table-bordered');
        })
    </script>
}