﻿@model IEnumerable<Clientes.Models.CONOCIMIENTO>

@{
    ViewBag.Title = "Index";
}
@using GridMvc.Html
<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Registrar")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ACTUALIZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_COMERCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANIOS_MERCADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_ACTIVIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPETENCIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRINCIPALES_CLIENTES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAGINA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL_EMPRESA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_EMPLEADOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REP_LEGAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTO_ALIADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO_ALIADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTO_TECNICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO_TECNICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTO_PRINCIPAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO_PRINCIPAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTO_CXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO_CXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EJECUTIVO_FONIX)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.Vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ACTUALIZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAZON_SOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_COMERCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANIOS_MERCADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_ACTIVIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPETENCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRINCIPALES_CLIENTES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAGINA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEL_EMPRESA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_EMPLEADOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REP_LEGAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IFE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTO_ALIADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO_ALIADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTO_TECNICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO_TECNICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTO_PRINCIPAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO_PRINCIPAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTO_CXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO_CXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EJECUTIVO_FONIX)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.Vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@




@Html.Grid(Model).SetLanguage("es").Columns(columns =>
{
    columns.Add(item => item.ID).SetWidth(110);
    columns.Add(item => item.FECHA_ACTUALIZA);
    columns.Add(item => item.RAZON_SOCIAL).Sortable(true).Filterable(true);
    columns.Add(item => item.NOMBRE_COMERCIAL).Sortable(true).Filterable(true);
    columns.Add(item => item.RFC);
    columns.Add(item => item.DESC_ACTIVIDAD);
    //columns.Add(item => item.EJECUTIVO_FONIX).Sortable(true).Filterable(true);
	columns.Add(item => item.EJECUTIVO_FONIX).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(item => "<span class='hidden'>"  + @item.EJECUTIVO_FONIX +"</span>" + @item.Vendedor);
}).WithPaging(20)