﻿@*@model Clientes.Models.CONOCIMIENTO*@
@model IEnumerable<Clientes.Models.CONOCIMIENTO>
@{
    ViewBag.Title = "Inicio";
}
@using GridMvc.Html
@*<h2>Inicio</h2>*@

@using (Html.BeginForm("Busqueda", "Cliente"))
{
    @Html.AntiForgeryToken()

   <!-- <div class="form-horizontal">
        @*<h4>CONOCIMIENTO</h4>*@
        <div class="form-group">
            @*@Html.LabelFor(model => model.EJECUTIVO_FONIX, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Ejecutivo</label>
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.EJECUTIVO_FONIX, new { htmlAttributes = new { @class = "form-control vend", @required = "required" } })*@
                <input type="text" name="vendedor" id="vendedor" class="form-control" required/>
                @*@Html.ValidationMessageFor(model => model.EJECUTIVO_FONIX, "", new { @class = "text-danger" })*@
            </div>
			<div class="col-md-2">
				<a href="/Empresariales/Clientes/Cliente/Index"><i class="glyphicon glyphicon-list"></i></a>
			</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Buscar" class="btn btn-raised btn-danger" />
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Nuevo Cliente", "Registrar", new { id = "" }, new { @class = "btn btn-raised btn-success" })
            </div>
            @*<div class="col-md-1">
                    @Html.ActionLink("Nuevo prospecto", "Nuevo", new { id = "" }, new { @class = "btn btn-success" })
                </div>*@
        </div>
    </div>-->
}
<br>
<div class="form-group">
	<div class="col-md-3">
		@Html.ActionLink("Nuevo Cliente", "Registrar", new { id = "" }, new { @class = "btn btn-raised btn-success" })
	</div>
	<div class="col-md-3">
		<a href="/Empresariales/Clientes/Cliente/Index"><i class="glyphicon glyphicon-list"></i></a>
        <!--<a href="/Empresariales/Clientes/Contactos/Inicio" class="btn btn-info">Seguimiento</a>-->
        <!--<a href="/Empresariales/Clientes/Actividades/Index" class="btn btn-info">Seguimiento</a>-->
		@Html.ActionLink("Seguimiento", "Index","Actividades", new { id = "" }, new { @class = "btn btn-raised btn-info" })
	</div>
    <div class="col-md-3 col-md-offset-3">
        <!--<a href="/Empresariales/Clientes/Grupos/Index" class="btn btn-danger">Grupos</a>-->
		@Html.ActionLink("Grupos", "Index","Grupos", new { id = "" }, new { @class = "btn btn-raised btn-danger" })
    </div>
</div>


@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
<br><br>
@Html.Grid(Model).SetLanguage("es").Columns(columns =>
{
    //columns.Add(item => item.ID).SetWidth(110);
    //columns.Add(item => item.FECHA_ACTUALIZA).Filterable(true).Sortable(true);
    //columns.Add(item => item.TIPO).Sortable(true).Filterable(true);
    columns.Add(item => item.RAZON_SOCIAL).Sortable(true).Filterable(true);
    columns.Add(item => item.Vendedor).Sortable(true).Filterable(true);
    columns.Add(item => item.Grupo).Sortable(true).Filterable(true);
    columns.Add(item => item.NOMBRE_COMERCIAL).Sortable(true).Filterable(true);
    //columns.Add(item => item.RFC);
    //columns.Add(item => item.DESC_ACTIVIDAD);
    //columns.Add(item => item.EJECUTIVO_FONIX).Sortable(true).Filterable(true);
    var url = Request.Url.ToString();
    if (url.Contains("201.144.210.148"))
    {
        columns.Add(item => item.Detail).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.Detail == "Nuevo" ? "<a href='/activaciones/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i>Nuevo</a>" : item.Detail == "Cliente" ? "<a href='/activaciones/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-success'><i class='glyphicon glyphicon-pencil'></i>Cliente</a>" : "<a href='/activaciones/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i> Prospecto</a>");
    }
    else
    {
        columns.Add(item => item.Detail).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.Detail == "Nuevo" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i>Nuevo</a>" : item.Detail == "Cliente" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-success'><i class='glyphicon glyphicon-pencil'></i>Cliente</a>" : "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i> Prospecto</a>");
    }
    //columns.Add().Encoded(false).Sanitized(false).RenderValueAs(item => "<a href='/Empresariales/Clientes/Contactos/Index/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i>Seguimiento</a>");
    //columns.Add().Titled("Detalles").Sortable(true).Encoded(false).Sanitized(false).RenderValueAs(item => item.TIPO == "NUEVO" ? "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-primary'><i class='glyphicon glyphicon-ok-sign '></i> CLTE. NUEVO</a>" : "<a href='/Empresariales/Clientes/Cliente/Detalles/" + @item.ID + "' class='btn btn-danger'><i class='glyphicon glyphicon-question-sign'></i> PROSPECTO</a>");
}).WithPaging(20)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('table').removeClass('table-striped');
			$('table').addClass('table-bordered');
        })
    </script>
}
