﻿
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/login.css" rel="stylesheet" />
<!--<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>-->

@if(!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <h4>@ViewBag.Error</h4>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row-fluid user-row">
                            <h1 class="text-center"><i class="glyphicon glyphicon-user"></i></h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" class="form-signin">
                            <fieldset>
                                <label class="panel-login">
                                    <div class="login_result"></div>
                                </label>
                                <input class="form-control" placeholder="Usuario" id="username" type="text" name="usuario" required>
                                <input class="form-control" placeholder="Contraseña" id="password" type="password" name="password" required>
                                <br></br>
                                <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Login »">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@*<script src="~/Scripts/login.js"></script>*@