﻿@model Clientes.Models.CONOCIMIENTO.ConocimientoViewModel

@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>
@if (Session["mensaje"] != null)
{
    if (!string.IsNullOrEmpty(Session["mensaje"].ToString()))
    {
        <div class="alert alert-success">
            <h4>@Session["mensaje"]</h4>
        </div>
    }
}


@*<div class="alert alert-danger">
    @ViewBag.Error
</div>*@

<div class="alert alert-danger" id="mensajeRfc" hidden>
    <h4>RFC ya esta dado de alta</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="formulario">
        <!--<h4>CONOCIMIENTO</h4>-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "label label-danger" })
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_ACTUALIZA, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FECHA_ACTUALIZA, new { htmlAttributes = new { @class = "datepicker form-control",  } })
                    @Html.ValidationMessageFor(model => model.FECHA_ACTUALIZA, "", new { @class = "label label-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FOLIO_VERIFICACION, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FOLIO_VERIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FOLIO_VERIFICACION, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.RAZON_SOCIAL, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    @Html.ValidationMessageFor(model => model.RAZON_SOCIAL, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.NOMBRE_COMERCIAL, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMBRE_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_COMERCIAL, "", new { @class = "label label-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.GIRO, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.GIRO, ViewData["giros"] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GIRO, "", new { @class = "label label-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.GRUPO_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.GRUPO_ID, ViewData["grupos"] as SelectList,"--SELECCIONE GRUPO", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GRUPO_ID, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ANIOS_MERCADO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ANIOS_MERCADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ANIOS_MERCADO, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DESC_ACTIVIDAD, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DESC_ACTIVIDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESC_ACTIVIDAD, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>
		
		
		<div class="row">
            <div class="col-md-8">
                <div class="form-group">

                    @Html.LabelFor(model => model.EJECUTIVO_FONIX, htmlAttributes: new { @class = "control-label" })
					@if (Convert.ToInt32(Session["perfil"]) == 2){
						<!--<input type="text" name="EJECUTIVO_FONIX" id="EJECUTIVO_FONIX" class="form-control" value="@Session["nombre"]" readonly>-->
						@Html.DropDownListFor(model => model.EJECUTIVO_FONIX, ViewData["ejecutivos"] as SelectList, "--Seleccione ejecutivo", new { @class = "form-control" })
					}else{
						@*@Html.EditorFor(model => model.EJECUTIVO_FONIX, new { htmlAttributes = new { @class = "form-control"} })*@
                        @Html.DropDownListFor(model => model.EJECUTIVO_FONIX, ViewData["ejecutivos"] as SelectList, "--Seleccione ejecutivo", new { @class = "form-control" })
                    }

                    @Html.ValidationMessageFor(model => model.EJECUTIVO_FONIX, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <!-- sucursales-->
		<div class="panel panel-primary">
            <div class="panel-heading">Sucursales, puntos de venta o distribución </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							@Html.LabelFor(model => model.CabeceraTipo, htmlAttributes: new { @class = "control-label" })
							@*@Html.EditorFor(model => model.CabeceraTipo, new { htmlAttributes = new { @class = "form-control" } })*@
							@*@Html.DropDownListFor(model => model.CabeceraTipo, ViewData["pvs"] as SelectList, new { @class = "form-control" })*@
							<select id="CabeceraTipo" name="CabeceraTipo" class="form-control">
								<option>--SELECCIONE TIPO</option>
								<option value="SUCURSAL">SUCURSAL</option>
								<option value="PV">PV</option>
								<option value="DISTRIBUIDOR">DISTRIBUIDOR</option>
								@*<option value="CADENAS">CADENAS</option>*@
								<option value="OTROS">OTROS</option>
							</select>
						</div>
					</div>

					<div class="col-md-5">
						<div class="form-group">
							@Html.LabelFor(model => model.CabeceraDireccion, htmlAttributes: new { @class = "control-label" })
							@Html.EditorFor(model => model.CabeceraDireccion, new { htmlAttributes = new { @class = "form-control" } })
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<br />
							<button class="btn btn-primary" type="submit" value="agregar_producto" name="action" id="btn-suc">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
				</div>
				
				<div class="row">
            <div class="col-md-12">
                <ul id="facturador-detalle" class="list-group">
                    @if (Model.CONOCIMIENTO_PV.Count > 0)
                {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-5">
                                    <b>Tipo</b>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <b>Dirección</b>
                                </div>
                            </div>
                        </li>
                    }
                    @foreach (var d in Model.CONOCIMIENTO_PV)
                {
                    var i = Model.CONOCIMIENTO_PV.IndexOf(d);
                        <li class="list-group-item">
                            <!-- Modelo -->
                            @Html.Hidden("CONOCIMIENTO_PV[" + i + "].TIPO", d.TIPO)
                            @Html.Hidden("CONOCIMIENTO_PV[" + i + "].DIRECCION", d.DIRECCION)
                            @Html.Hidden("CONOCIMIENTO_PV[" + i + "].Retirar", d.Retirar)

                            <div class="row">
                                <div class="col-xs-1 text-right">
                                    <button class="btn btn-danger btn-xs btn-block btn-retirar" type="button" value="retirar_producto" name="action">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                                <div class="col-xs-5">
                                    @d.TIPO
                                </div>
                                <div class="col-xs-2 text-center">
                                    @d.DIRECCION
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!--fin sucursales-->
			</div>
		</div>



        





        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.COMPETENCIA, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.COMPETENCIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMPETENCIA, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PRINCIPALES_CLIENTES, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PRINCIPALES_CLIENTES, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PRINCIPALES_CLIENTES, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PROVEEDORES, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PROVEEDORES, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PROVEEDORES, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    @Html.LabelFor(model => model.PAGINA, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PAGINA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PAGINA, "", new { @class = "label label-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TEL_EMPRESA, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TEL_EMPRESA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEL_EMPRESA, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.NO_EMPLEADOS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NO_EMPLEADOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NO_EMPLEADOS, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.REP_LEGAL, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.REP_LEGAL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.REP_LEGAL, "", new { @class = "label label-danger" })
                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IFE, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.IFE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IFE, "", new { @class = "label label-danger" })
                    </div>
                </div>*@
        </div>

        <!--Direccion fiscal-->
        <fieldset>
            <legend>Dirección fiscal</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CALLE_No, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CALLE_No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CALLE_No, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.COLONIA, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.COLONIA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COLONIA, "", new { @class = "label label-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MUNICIPIO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MUNICIPIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MUNICIPIO, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CP, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CP, "", new { @class = "label label-danger" })
                    </div>
                </div>
            </div>
        </fieldset>
        <!--end direccion fiscal-->

        






        <!--Direccion de entrega-->
        <fieldset>
            <legend>Dirección de entrega</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CALLE_No2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CALLE_No2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CALLE_No2, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.COLONIA2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.COLONIA2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COLONIA2, "", new { @class = "label label-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MUNICIPIO2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MUNICIPIO2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MUNICIPIO2, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ESTADO2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ESTADO2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ESTADO2, "", new { @class = "label label-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CP2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CP2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CP2, "", new { @class = "label label-danger" })
                    </div>
                </div>
            </div>
        </fieldset>
        <!--end direccion de entrega-->

        <fieldset>
            <legend>Contacto</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.CONTACTO_ALIADO, htmlAttributes: new { @class = "control-label" })*@
						<span class="label label-primary hidden">Nombre</span>
                        @Html.EditorFor(model => model.CONTACTO_ALIADO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contacto aliado", @title="Nombre"} })
                        @Html.ValidationMessageFor(model => model.CONTACTO_ALIADO, "", new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
						<span class="label label-primary hidden">Teléfono o Ext</span>
                        @Html.EditorFor(model => model.CONTACTO_ALIADO_EXT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono o Ext" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CONTACTO_ALIADO_CORREO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.CARGO_ALIADO, htmlAttributes: new { @class = "control-label" })*@
                        @Html.EditorFor(model => model.CARGO_ALIADO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cargo" } })
                        @Html.ValidationMessageFor(model => model.CARGO_ALIADO, "", new { @class = "label label-danger" })
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CONTACTO_TECNICO, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CONTACTO_TECNICO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contacto Técnico" } })
                    @Html.ValidationMessageFor(model => model.CONTACTO_TECNICO, "", new { @class = "label label-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_TECNICO_EXT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono o Ext" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_TECNICO_CORREO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CARGO_TECNICO, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CARGO_TECNICO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cargo" } })
                    @Html.ValidationMessageFor(model => model.CARGO_TECNICO, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CONTACTO_PRINCIPAL, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CONTACTO_PRINCIPAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contacto Principal" } })
                    @Html.ValidationMessageFor(model => model.CONTACTO_PRINCIPAL, "", new { @class = "label label-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_PRINCIPAL_EXT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono o Ext" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_PRINCIPAL_CORREO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CARGO_PRINCIPAL, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CARGO_PRINCIPAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cargo" } })
                    @Html.ValidationMessageFor(model => model.CARGO_PRINCIPAL, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CONTACTO_CXP, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CONTACTO_CXP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contacto CXP" } })
                    @Html.ValidationMessageFor(model => model.CONTACTO_CXP, "", new { @class = "label label-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_CXP_EXT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono o Ext" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.EditorFor(model => model.CONTACTO_CXP_CORREO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CARGO_CXP, htmlAttributes: new { @class = "control-label" })*@
                    @Html.EditorFor(model => model.CARGO_CXP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cargo" } })
                    @Html.ValidationMessageFor(model => model.CARGO_CXP, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>
        </fieldset>

        
        <fieldset>
            <legend>Otros</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CLAVE_NISI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Clave NISI" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CLAVE_PORTAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Clave Portal" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.USUARIO_PORTAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario Portal" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.ALIAS_PORTAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Alias Portal" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.CLAVE_INTERBANCARIA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Clave Interbancaria" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.REFERENCIA_RAP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Referencia RAP" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.ESPORADICO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Esporadico" } })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.MERCADO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mercado" } })
                    </div>
                </div>
            </div>
        </fieldset>
        


        @* @if (Model.CONOCIMIENTO_PV.Count > 0)
            {*@
        <button class="btn btn-primary btn-block btn-lg" type="submit" value="generar" name="action" id="btn-guardar">Guardar</button>
            @*}*@
    </div>
}

<div>
    @*@Html.ActionLink("Regresar", "/Inicio")*@
    @if (Convert.ToInt32(Session["perfil"]) == 1)
    {
        <a href="http://activaciones.fonix.com.mx/Empresariales/Clientes/Cliente/Inicio">Regresar</a>
    }
    else if (Convert.ToInt32(Session["perfil"]) == 2)
    {
        <a href="http://activaciones.fonix.com.mx/Empresariales/Clientes/Cliente/EJECUTIVO?usuario=@Session["idusuario"]">Regresar</a>
    }
    else
    {
        <a href="http://activaciones.fonix.com.mx/Empresariales/Clientes/Cliente">Regresar</a>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            //Comprobar si RFC de cliente ya esta dado de alta en tabla EMPRESARIALES.CONOCIMIENTO

            $('#RFC').focusout(function () {
                var rfc = $(this).val();
                console.log(rfc);

                //$.post('/Servicios/ComprobarRFC', { rfc: rfc }, function (data) {
                //    console.log(data);
                //})

                $.ajax({
                    type: 'POST',
                    url: ("/Empresariales/Clientes/Servicios/ComprobarRFC"),
                    data: {rfc: rfc},
                    success: function (data) {
                        console.log(data);

                        if (data) {
                            console.log("sasa");
                            $('#mensajeRfc').show();
                            $('#btn-guardar').attr('disabled', 'disabled');
                        } else {
                            console.log("dsdss");
                            $('#mensajeRfc').hide();
                            $('#btn-guardar').removeAttr('disabled', '');
                        }
                    },
                });
            })


			// $('input:text').hover(function(){
				// $(this).prev('span').removeClass('hidden');
				// //console.log('asasa');
				// var label = $(this).prev('span');
				// label.show("slow" );
			// })
			
			// $('input:text').mouseout(function(){
				// var label = $(this).prev('span');
				// label.hide("slow" );
			// })
            LimpiarAgregarProducto();

            $(".btn-retirar").click(function () {
                if (confirm('¿Está seguro de retirar el item seleccionado?')) {
                    $(this).closest('.list-group-item').remove().find('.retirar').val("True");
                    //console.log($(this).parent());
                    return true;
                }

                return false;
            })
			
			$('#btn-suc').click(function(e){
				e.preventDefault();
				var tipo = $('#CabeceraTipo').val();
				var direccion = $('#CabeceraDireccion').val();
				
				var longitud = $("#facturador-detalle li.lista").size();
				var longitudt = longitud - 1;
				if(longitud==0){
					longitudt = 0;
				}
                
				
				console.log(longitud);
				console.log(longitudt);
				
				if (tipo.trim() == "" || tipo.trim() == "--SELECCIONE TIPO") {
                    alert("debe seleccionar una opción(tipo)");
                    return false;
                }

                if (direccion.trim() == "") {
                    alert("debe ingresar la dirección");
                    return false;
                }
				
				$('#facturador-detalle').append("<li class='list-group-item lista'><input id='CONOCIMIENTO_PV_" + longitud + "_TIPO' name='CONOCIMIENTO_PV[" + longitud + "].TIPO' type='hidden' value='" + tipo + "'><input id='CONOCIMIENTO_PV_" + longitud + "_DIRECCION' name='CONOCIMIENTO_PV[" + longitud + "].DIRECCION' type='hidden' value='" + direccion + "'><div class='row'><div class='col-xs-1 text-right'><button class='btn btn-danger btn-xs btn-block btn-retirar' type='button' value='retirar_producto' name='action'><i class='glyphicon glyphicon-trash'></i></button></div><div class='col-xs-5'>" + tipo + "</div><div class='col-xs-2 text-center'>" + direccion + "</div></div></li>");
				LimpiarAgregarProducto()
			})
			
			
			
			$(".panel").on("click", ".btn-retirar", function () {
                if (confirm('¿Está seguro de retirar el item seleccionado?')) {
                    $(this).closest('.list-group-item').remove().find('.retirar').val("True");
                    //console.log($(this).parent());
                    return true;
                }

                return false;
            })


            $('.datepicker').datepicker({
                //lang: 'es'
                format: 'yyyy-mm-dd'
            });
        })

        function LimpiarAgregarProducto() {
            $("#CabeTipo").val("");
            $("#CabeceraDireccion").val("");
        }
    </script>
}
