﻿@model IEnumerable<Clientes.Models.GRUPO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" ", "Create", new { id=""},new { @class="btn btn-primary glyphicon glyphicon-plus" })
</p>
<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RAZON)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(x=>x.RAZON)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RAZON)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new { @class="btn btn-success glyphicon glyphicon-pencil" })
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
