﻿@model IEnumerable<Clientes.Models.ADENDA>

<style>
	table{
		
		font-size: 12px !important;
		border-collapse: separate !important;
	}
	
	table th{
	  padding: 10px !important;
	  background-color: #ff9900;
	  color:#000;
	}
	table tr{
		background-color: #f2f2f2;
	}
	table th a{
		color: #003580;
	}
</style>

@{
    ViewBag.Title = ViewBag.RazonSocial;
}
@using GridMvc.Html
<!--<h2>LÍNEAS(ADENDA)</h2>-->

<div>
    <a href="/Empresariales/Clientes/Cliente/Detalles/@Request.QueryString["id"]">Regresar</a>
    @*@Html.ActionLink("Regresar", "/Cliente/Detalles")*@
</div>

@if (!String.IsNullOrEmpty(ViewBag.RazonSocial))
{
    <div class="alert alert-success">
        <h2>@ViewBag.RazonSocial</h2>
    </div>
}



@Html.Grid(Model).SetLanguage("es").Columns(columns =>
{
    columns.Add(item => item.TELEFONO).Filterable(true);
    //columns.Add(item => item.ESTATUS_CUENTA).Filterable(true);
    columns.Add(item => item.NOMBRE_PLAN).Filterable(true).Css("hidden-xs");
	//columns.Add(item => item.MONTO_RENTA).Filterable(true).Css("hidden-xs");
    columns.Add(item => item.monto).Titled("MontoRenta+IVA").Filterable(true).Css("hidden-xs");
    columns.Add(item => item.EQUIPO).Filterable(true).Css("hidden-xs");
    columns.Add(item => item.MODELO).Filterable(true).Css("hidden-xs");
    columns.Add(item => item.DURACION).Titled("Plazo").Filterable(true).Css("hidden-xs");
    //columns.Add(item => item.RAZON_SOCIAL).Filterable(true);
    columns.Add(item => item.FECHA_INICIO).Sortable(true).Filterable(true);
    columns.Add(item => item.FECHA_TERMINO).Sortable(true).Filterable(true);
	columns.Add(item => item.MESES).Sortable(true).Filterable(true);
    columns.Add(item => item.ESTATUS_ADENDUM).Sortable(true).Filterable(true).RenderValueAs(o=> string.IsNullOrEmpty(o.FECHA_TERMINO.ToString()) ? "LIBRE" : string.IsNullOrEmpty(o.ESTATUS_ADENDUM) ? "VENCIDO" : o.ESTATUS_ADENDUM);
    //columns.Add(item => item.ESTATUS_LINEA).Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @<a href="/Empresariales/Clientes/Adenda/Edit/@o.Id?ad=@ViewBag.Adenda" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>);
}).WithPaging(20)