﻿@model Clientes.Models.ContactoModelView
@{
    Layout = null;
    string panel = "success",titulo="Compromiso";
    if (String.IsNullOrEmpty(Model.COMPROMISO))
    {
        titulo = "Proximo Contacto";
        panel = "primary";
    }
}
<div>
    <h4>Cliente: @ViewBag.Ncli</h4>
    <hr />
    <div class="panel panel-@panel">
        <div class="panel-heading">
            <b>
                @titulo - 
                @if (!string.IsNullOrEmpty(Model.COMPROMISO))
                {
                   @Convert.ToDateTime(Model.FECHA_COMPROMISO).ToLongDateString()
                }
                else
                {
                   @Convert.ToDateTime(Model.FECHA_PROXIMO_CONTACTO).ToLongDateString()
                }
            </b>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Contacto:  <b>@Model.NOMBRE_CONTACTO</b></li>
                @if (!string.IsNullOrEmpty(Model.COMPROMISO))
                {
                    <li class="list-group-item">Compromiso: <b>@Model.COMPROMISO</b></li>
                }
                else
                {
                    <li class="list-group-item">Motivo proximo Contacto: <b>@Model.MOTIVO_PROXIMO_CONTACTO</b></li>
                    
                }
                <li class="list-group-item">Comentario: <b>@Model.COMENTARIO</b></li>
            </ul>
        </div>
    </div>
</div>


    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONOCIMIENTO_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONOCIMIENTO_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMENTARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgregarCompromiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgregarCompromiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPROMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPROMISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_COMPROMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_COMPROMISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTIVO_PROXIMO_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTIVO_PROXIMO_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_PROXIMO_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_PROXIMO_CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_PROXIMO_CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_PROXIMO_CONTACTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
