﻿@model Clientes.Models.ContactoModelView
<link href="~/Content/datetimepicker.css" rel="stylesheet" />
@{
    ViewBag.Title = "Crear";
}
@*<h1>Valor: @ViewBag.Valorc</h1>*@
<h2>Crear Contacto : @ViewBag.Ncli </h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@if (ViewBag.Vigente == "S")
{
    <div class="alert alert-info">
        <h3>El cliente @ViewBag.Ncli tiene un compromiso vigente</h3>
    </div>
}
else if (ViewBag.Vigente == "N")
{
    <div class="alert alert-info">
        <h3>El cliente @ViewBag.Ncli tiene una fecha para contactar vigente y/o proxima</h3>
    </div>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<h4>ContactoModelView</h4>*@
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.CONOCIMIENTO_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.CONOCIMIENTO_ID, new { htmlAttributes = new { @class = "form-control",@value="" } })*@
                    <input type="text" name="CONOCIMIENTO_ID" id="CONOCIMIENTO_ID" class="form-control" value="@ViewBag.Cliente" readonly />
                    @Html.ValidationMessageFor(model => model.CONOCIMIENTO_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NOMBRE_CONTACTO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.NOMBRE_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })*@
                    @if (ViewBag.LC > 1)
                    {
                        @Html.DropDownListFor(model => model.NOMBRE_CONTACTO, ViewData["contactos"] as SelectList, "--SELECCIONE CONTACTO", new { @class = "form-control" })
                        <br />
                        @Html.EditorFor(model => model.OTRO_CONTACTO, new { htmlAttributes = new { @class = "form-control hidden", @placeholder = "Ingrese nombre de contacto" } })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.NOMBRE_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                    }

                    @Html.ValidationMessageFor(model => model.NOMBRE_CONTACTO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TIPO_CONTACTO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.TIPO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.TIPO_CONTACTO, ViewData["tipos"] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TIPO_CONTACTO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.COMENTARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COMENTARIO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMENTARIO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    @*<label class="control-label"><input type="checkbox" id="agcomp">Agregar compromiso?</label>*@
                    @Html.LabelFor(model => model.AgregarCompromiso, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="checkbox" name="agc" id="agc" class="form-control" />
                        <input type="hidden" name="AgregarCompromiso" id="AgregarCompromiso" value="n" />
                        @*@Html.EditorFor(model => model.AgregarCompromiso, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.AgregarCompromiso, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div id="compromi" hidden>
                <div class="form-group">
                    @Html.LabelFor(model => model.COMPROMISO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.COMPROMISO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COMPROMISO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_COMPROMISO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FECHA_COMPROMISO, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.FECHA_COMPROMISO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div id="proximo">
                <div class="form-group">
                    @Html.LabelFor(model => model.MOTIVO_PROXIMO_CONTACTO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MOTIVO_PROXIMO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MOTIVO_PROXIMO_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_PROXIMO_CONTACTO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FECHA_PROXIMO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FECHA_PROXIMO_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.HORA_PROXIMO_CONTACTO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HORA_PROXIMO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HORA_PROXIMO_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            </div>




            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Detail", new { id = ViewBag.Cliente })
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mvcfoolproof")
    @*<script src="~/ClientScripts/mvcfoolproof.unobtrusive.min.js"></script>
        <script src="~/ClientScripts/MvcFoolproofJQueryValidation.js"></script>
        <script src="~/ClientScripts/MvcFoolproofValidation.min.js"></script>*@
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/fullcalendar/locale/es.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script>
        $(document).ready(function () {
            //$('#AgregarCompromiso').val('n');
            $('.datepicker').datepicker({
                //lang: 'es'
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $('#FECHA_PROXIMO_CONTACTO').datetimepicker();

            $('#NOMBRE_CONTACTO').change(function () {
                //alert($(this).val());
                if ($(this).val() == "Otro") {
                    //alert("SELECCIONASTE OTRO");
                    $('#OTRO_CONTACTO').removeClass('hidden');
                } else {
                    $('#OTRO_CONTACTO').addClass('hidden');
                }
            })


            $('#agc').change(function () {
                console.log($(this).val());

                if ($(this).is(':checked')) {
                    $('#compromi').show();
                    $('#proximo').hide();
                    //$('#proximo input').attr('disabled', 'disabled');
                    //$('#compromi input').removeAttr('disabled', '');
                    $('#AgregarCompromiso').val('s');
                } else {
                    $('#compromi').hide();
                    $('#proximo').show();
                    //$('#compromi input').attr('disabled', 'disabled');
                    //$('#proximo input').removeAttr('disabled', '');
                    $('#AgregarCompromiso').val('n');
                }
            })
        })
    </script>
}
