﻿@model IEnumerable<Clientes.Models.ContactoModelView>

@{
    ViewBag.Title = "Contacto";
}

<h2>Cliente:: @ViewBag.Cliente</h2>

<p>
    <!--<a href="/Empresariales/Clientes/Contactos/Crear/@ViewBag.CL" class="btn btn-danger"><i class="glyphicon glyphicon-plus-sign"></i> Nuevo</a>-->
	@Html.ActionLink("Nuevo", "Crear","Contactos", new { id = ViewBag.CL }, new { @class = "btn btn-danger glyphicon glyphicon-plus-sign" })
</p>


<div class="contenedor row">
    <div class="col-md-6">
        <h3>Compromisos</h3>
        @foreach (var item in Model.Where(x => x.FECHA_PROXIMO_CONTACTO == null).OrderByDescending(x => x.FECHA_COMPROMISO))
        {
            <div class="panel panel-primary">
                <div class="panel-heading"><b>@Convert.ToDateTime(item.FECHA_COMPROMISO).ToLongDateString()</b></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Contacto:  <b>@item.NOMBRE_CONTACTO</b></li>
                        <li class="list-group-item">Compromiso: <b>@item.COMPROMISO</b></li>
                        <li class="list-group-item">Comentario: <b>@item.COMENTARIO</b></li>
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <h3>Proximo Contacto</h3>
        @foreach (var item in Model.Where(x => x.FECHA_COMPROMISO == null).OrderByDescending(x => x.FECHA_PROXIMO_CONTACTO))
        {
            <div class="panel" style="border:1px solid #d6e9c6;">
                <div class="panel-heading" style="background:#5cb85c;color:#fff;"><b>@Convert.ToDateTime(item.FECHA_PROXIMO_CONTACTO).ToLongDateString()</b></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Contacto: <b>@item.NOMBRE_CONTACTO</b></li>
                        <li class="list-group-item">Motivo proximo Contacto: <b>@item.MOTIVO_PROXIMO_CONTACTO</b></li>
                        <li class="list-group-item">Comentario: <b>@item.COMENTARIO</b></li>
                    </ul>
                </div>
            </div>
        }
    </div>

</div>


@*<div class="compromisos">
    <h4  style="font-size:13px;" class="label label-success">Compromisos</h4>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMENTARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPROMISO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_COMPROMISO)
            </th>
        </tr>

        @foreach (var item in Model.Where(x=>x.FECHA_PROXIMO_CONTACTO==null).OrderByDescending(x=>x.FECHA_COMPROMISO))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COMENTARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COMPROMISO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_COMPROMISO)
                </td>
            </tr>
        }
    </table>
</div>

<div class="proximo">
    <h4 style="font-size:13px;" class="label label-primary">Contactos</h4>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMENTARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTIVO_PROXIMO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_PROXIMO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORA_PROXIMO_CONTACTO)
            </th>
           
        </tr>

        @foreach (var item in Model.Where(x=>x.FECHA_COMPROMISO==null).OrderByDescending(x=>x.FECHA_PROXIMO_CONTACTO))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COMENTARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOTIVO_PROXIMO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_PROXIMO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HORA_PROXIMO_CONTACTO)
               
            </tr>
        }

    </table>
</div>*@

