﻿@model Clientes.Models.COMPROMISO

@{
    Layout = null;
    ViewBag.Title = "EditCompromiso";
}

@if (ViewBag.Estatus == "INCUMPLIDO")
{
    <div class="alert alert-danger">
        <h3>Compromiso Incumplido</h3>
    </div>
}

@*<h2>EditCompromiso</h2>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-success">
        <h3>@ViewBag.Razon</h3>
    </div>
    <div class="form-horizonta">
        <h4>COMPROMISO <span class="label label-danger">fecha de compromiso: @Convert.ToDateTime(Model.FECHA_COMPROMISO).ToLongDateString()</span></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.CONTACTO_ID, "CONTACTO_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONTACTO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CONTACTO.NOMBRE_CONTACTO, "Nombre de contacto", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CONTACTO.NOMBRE_CONTACTO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.CONTACTO.NOMBRE_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CONTACTO.TIPO_CONTACTO, "Tipo de contacto", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @*@Html.EditorFor(model => model.CONTACTO.TIPO_CONTACTO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                        @Html.DropDownListFor(model => model.CONTACTO.TIPO_CONTACTO, ViewData["tipos"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CONTACTO.TIPO_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.COMPROMISO1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.COMPROMISO1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COMPROMISO1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CONTACTO.COMENTARIO, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CONTACTO.COMENTARIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CONTACTO.COMENTARIO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_COMPROMISO, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FECHA_COMPROMISO, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.FECHA_COMPROMISO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-5">
                        @if (ViewBag.Estatus != "INCUMPLIDO")
                        {
                            <input type="submit" value="Guardar" class="btn btn-block btn-primary" />
                        }
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
