﻿@model IEnumerable<Clientes.Models.CONTACTO>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONOCIMIENTO_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMENTARIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONOCIMIENTO_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMENTARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Detail", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
