﻿<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<input type="hidden" name="idcon" id="idcon" value="@ViewBag.vend" />
<div class="row">
    <div class="col-md-4">
        <h2>Contactos</h2>
    </div>
    @if (Convert.ToInt32(Session["perfil"]) != 1)
    {
        <div class="col-md-4" hidden>
            @Html.DropDownList("EJECUTIVO", ViewData["ejecutivos"] as SelectList, "--TODOS", new { id = "EJECUTIVO_SELECTOR", @style = "margin-top:40px;",@readonly="readonly" })
        </div>
    }
    else
    {
        <div class="col-md-4">
            Ejecutivo @Html.DropDownList("EJECUTIVO", ViewData["ejecutivos"] as SelectList, "--TODOS", new { id = "EJECUTIVO_SELECTOR", @style = "margin-top:40px;" })
        </div>
    }



</div>
<div id="actividades">
    <div id="calendar"></div>
</div>

<div id="load" hidden style="position:absolute;margin:auto;margin-top:-420px;z-index: 1000;">
    <img src="~/imgs/load2.gif" />
</div>

<div id="modal-contacto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contacto</h4>
            </div>
            <div class="modal-body" id="modal-contacto-body">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/fullcalendar/locale-all.js"></script>
    <script src="~/Scripts/datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            function successFun(data, status) {
                $('#modal-contacto-body').html(data);
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    language: 'es'
                });
                $('#modal-contacto').modal('show');
            }


            $('.fc-time').attr('hidden', 'hidden');
            var id = $('#idcon').val();
            $('#calendar').fullCalendar({
                weekends: false,
                height: 530,
                locale: 'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    //right: 'listWeek,month,agendaWeek,agendaDay'
                    right: 'listWeek,month'
                },
                defaultView: 'listWeek',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                navLinks: true,
                eventColor: '#7f181b',
                events: '/Empresariales/Clientes/Contactos/Eventos/' + id,
                loading: function (bool) {
                    if (bool) {
                        console.log('cargando eventos'); // Add your script to show loading
                        //$('#calendar').hide();
                        $('#load').show();
                    } else {
                        //$('#calendar').show();
                        $('#load').hide();
                    }

                },
                eventAfterAllRender: function (view) {
                    console.log('eventos cargados'); // remove your loading 
                    //$('#load').hide();
                    //$('#calendar').show();
                },
                eventRender: function eventRender(event, element, view) {
                    if ($('#EJECUTIVO_SELECTOR').val() == '') {
                        for (var i = 0; i <= $('#EJECUTIVO_SELECTOR').val().lenght; i++) {
                            //console.log($('#EJECUTIVO_SELECTOR')[i].val());
                            //return ['all', event.ejecutivo].indexOf($('#EJECUTIVO_SELECTOR')[i].val())
                        }
                    } else {
                        return ['all', event.ejecutivo].indexOf($('#EJECUTIVO_SELECTOR').val()) >= 0
                    }

                },
                eventClick: function (event, element) {
                    //alert(event.id);
                    var serviceUrl = '/Empresariales/Clientes/Contactos/EditProximo/' + event.id + '?estado=' + event.estatus;
                    if (event.tipo == "C") {
                        serviceUrl = '/Empresariales/Clientes/Contactos/EditCompromiso/' + event.id + '?estado=' + event.estatus;
                    }
                    $.ajax({
                        type: "GET",
                        url: serviceUrl,
                        data: $(this).serialize(),
                        success: successFun
                    })
                }
            })

            $('#EJECUTIVO_SELECTOR').on('change', function () {
                $('#calendar').fullCalendar('rerenderEvents');
            })

            $(".nuevo").click(function (e) {
                //debugger;
                e.preventDefault();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: '/Empresariales/Clientes/Contacto/Create/@ViewBag.IdConocimiento',
                    contentType: "application/json; charset=utf-8",
                    //data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#modal-crear-body').html(data);
                        $('#modal-crear').modal('show');
                        //console.log(data);
                    },
                    error: function () {
                        alert("Error al obtener vista");
                    }
                });
            });



            function validForm() {
                return $.validator.unobtrusive.parse($('#formEditarFactEquipo'));
            };

            function unLoadModalCompromiso(data) {
                $('#myModal').modal('hide');
                refresh();
            }


        });
    </script>
}
