﻿@model IEnumerable<Clientes.Models.ContactoModelView>

@{
    ViewBag.Title = "Proximo";
}

<h2>Proximo:: @ViewBag.Cliente</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMENTARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTIVO_PROXIMO_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_PROXIMO_CONTACTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORA_PROXIMO_CONTACTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMENTARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTIVO_PROXIMO_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_PROXIMO_CONTACTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORA_PROXIMO_CONTACTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
